<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode">
      <h2>Find your match</h2>
      <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
      <div class="text-center">
          <button (click)="registerToggle()" class="btn btn-primary mx-2"> Register </button>
          <button class="btn btn-info mx-2"> Learn more </button>
      </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-6">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>